
@{
    ViewData["Title"] = "Rules";
}
<div class="main-container" data-lotriver-wrapper="">
    <div class="section-title section-title_top">
        <p class="section-title_name">@RulesResource.String1</p>

    </div>
        <div class="md-content">
              <h4>@RulesResource.String2</h4>

              <p>@RulesResource.String3</p>

        <p><strong>1. @RulesResource.String4</strong></p>

        <p><strong>1.1.</strong>@RulesResource.String5</p>

        <p><strong>1.2.</strong>@RulesResource.String6</p>

        <p><strong>1.3.</strong>@RulesResource.String7</p>

        <p><strong>2. @RulesResource.String8</strong></p>

        <p><strong>2.1.</strong> @RulesResource.String9</p>

        <p><strong>2.2.</strong> @RulesResource.String10</p>

        <p><strong>2.3.</strong> @RulesResource.String11</p>

        <p><strong>3. @RulesResource.String12</strong></p>

        <p><strong>3.1.</strong>@RulesResource.String13</p>

        <p>@RulesResource.String14– 18.09.2020</p>
    </div>
</div>

