
@{
    ViewData["Title"] = "Useragreement";
}
<div class="main-container" data-lotriver-wrapper="">
    <div class="section-title section-title_top">
        <p class="section-title_name">@Useragreement.String1</p>
    </div>
    <div class="md-content">
        <p><strong>1. @Useragreement.String2</strong></p>

        <p><strong>1.1.</strong>@Useragreement.String3</p>

        <p><strong>1.2.</strong> @Useragreement.String4</p>

        <p>
            <strong>1.3.</strong> @Useragreement.String5
        </p>

        <p><strong>1.4.</strong> @Useragreement.String6</p>

        <p><strong>1.5.</strong>@Useragreement.String7</p>

        <p><strong>1.6.</strong> @Useragreement.String8</p>

        <p><strong>1.7.</strong> @Useragreement.String9</p>

        <p><strong>1.8.</strong>@Useragreement.String10</p>

        <p><strong>1.9.</strong> @Useragreement.String11</p>

        <p><strong>1.10.</strong> @Useragreement.String12</p>

        <p><strong>1.11.</strong>@Useragreement.String13</p>

        <p>
            <strong>1.12.</strong> @Useragreement.String14
        </p>

        <p>
            <strong>1.13.</strong>@Useragreement.String15
        </p>

        <p>
            <strong>1.14.</strong> @Useragreement.String16
        </p>

        <p><strong>1.15.</strong> @Useragreement.String17</p>

        <p><strong>1.16.</strong>@Useragreement.String18</p>

        <p><strong>1.17.</strong> @Useragreement.String19</p>

        <p><strong>1.18.</strong>@Useragreement.String20</p>

        <p><strong>@Useragreement.String21</strong></p>



        <p>@Useragreement.String22 – 29.10.2021</p>
    </div>
</div>


